/* 
   PopNotify.css
   v0.0.1
   author @ZiuChen
   release under MIT license
*/

.PopNotify {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 20px 25px 20px 25px;
  width: 300px;
  min-height: 75px;
  max-height: 500px;
  border-radius: 8px;
  cursor: default;
  box-shadow: #d1d1d1 0px 0px 8px;
  background-color: #ffffff;
  border: 3px solid;
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial,
    sans-serif;
  z-index: 999999999;
}

.PopNotify.top-left {
  left: 15px;
  margin-left: -500px;
}

.PopNotify.top-left.active {
  margin-left: 0px;
  transition: margin-left 0.5s, top 0.2s;
}

.PopNotify.top-left.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.PopNotify.top-right {
  right: 15px;
  margin-right: -500px;
}

.PopNotify.top-right.active {
  margin-right: 0px;
  transition: margin-right 0.5s, top 0.2s;
}

.PopNotify.top-right.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.PopNotify.bottom-left {
  left: 15px;
  margin-left: -500px;
}

.PopNotify.bottom-left.active {
  margin-left: 0px;
  transition: margin-left 0.5s, bottom 0.2s;
}

.PopNotify.bottom-left.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.PopNotify.bottom-right {
  right: 15px;
  margin-right: -500px;
}

.PopNotify.bottom-right.active {
  margin-right: 0px;
  transition: margin-right 0.5s, bottom 0.2s;
}

.PopNotify.bottom-right.fade {
  opacity: 0;
  transition: opacity 0.5s;
}

.PopNotify .PopNotify_first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PopNotify .PopNotify_title {
  width: 250px;
  margin-bottom: 10px;
  font-size: 1.05em;
  font-weight: bold;
}

.PopNotify .PopNotify_content {
  width: 280px;
  overflow: hidden;
  color: #909399;
}

.PopNotify .PopNotify_closeBtn {
  cursor: pointer;
  width: 18px;
  height: 18px;
  fill: #909399;
}

.PopNotify .PopNotify_closeBtn:hover {
  fill: #545456;
}

.PopNotify.success {
  border-color: #67c23a;
}

.PopNotify.error {
  border-color: #f56c6c;
}

.PopNotify.info {
  border-color: #909399;
}

.PopNotify.warning {
  border-color: #e6a23c;
}
